<div class="demand-status-list-container sub-page-container">
  <nz-page-header nzTitle="需求状态列表"></nz-page-header>
  <div class="operating-container">
    <div nz-row>
      <span class="select-title">归档状态：</span>
      <nz-select nzPlaceHolder="选择归档状态" [(ngModel)]="searchData.isOn">
        <nz-option nzLabel="全部状态" nzValue=""></nz-option>
        <nz-option nzLabel="未归档" nzValue="1"></nz-option>
        <nz-option nzLabel="归档" nzValue="2"></nz-option>
      </nz-select>
    </div>
    <div nz-row>
      <button nz-button nzType="primary" (click)="pageIndexChange(1)">搜索需求状态</button>
      <button nz-button nzType="primary" (click)="demandStatusCreatorVisible = true;">新增需求状态</button>
    </div>
  </div>
  <div class="list-container">
    <nz-table
      #demandStatusTable
      nzTitle="需求状态列表"
      nzFrontPagination="false"
      [nzData]="demandStatusList"
      [nzTotal]="total"
      [nzBordered]="true"
      [nzPageIndex]="searchData.pageIndex"
      [nzPageSize]="searchData.pageSize"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>是否为结束状态</th>
          <th>创建人</th>
          <th>创建时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandStatus of demandStatusTable.data">
          <td>{{ demandStatus.id }}</td>
          <td>{{ demandStatus.name }}</td>
          <td>{{ demandStatus.isEndStatus | demandStatus }}</td>
          <td>{{ demandStatus.creator.name }}</td>
          <td>{{ demandStatus.createDate | date: "MM/dd/yy" }}</td>
          <td>{{ demandStatus.deleteDate | status }}</td>
          <td>
            <button *ngIf="!demandStatus.deleteDate" nz-button nzType="danger" nzSize="small" (click)="deleteDemandStatus(demandStatus, true)">归档</button>
            <button *ngIf="demandStatus.deleteDate" nz-button nzType="primary" nzSize="small" (click)="deleteDemandStatus(demandStatus, false)">未归档</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzSize="small" (click)="editDemandStatus(demandStatus.id)">编辑</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <app-demand-status-creator [demandStatusId]="activeDemandStatusId" [modalVisible]="demandStatusCreatorVisible" (changeModal)="changeDemandStatusCreatorModal($event)"></app-demand-status-creator>
</div>
