<div class="demand-type-list-container sub-page-container">
  <nz-page-header nzTitle="需求类型列表"></nz-page-header>
  <div class="operating-container">
    <div nz-row>
      <span class="select-title">归档状态：</span>
      <nz-select nzPlaceHolder="选择归档状态" [(ngModel)]="searchData.isOn">
        <nz-option nzLabel="全部状态" nzValue=""></nz-option>
        <nz-option nzLabel="未归档" nzValue="1"></nz-option>
        <nz-option nzLabel="归档" nzValue="2"></nz-option>
      </nz-select>
    </div>
    <div nz-row>
      <button nz-button nzType="primary" (click)="pageIndexChange(1)">搜索需求类型</button>
      <button nz-button nzType="primary" (click)="demandTypeCreatorVisible = true;">新增需求类型</button>
    </div>
  </div>
  <div class="list-container">
    <nz-table
      #demandTypeTable
      nzTitle="需求类型列表"
      nzFrontPagination="false"
      [nzData]="demandTypeList"
      [nzTotal]="total"
      [nzBordered]="true"
      [nzPageIndex]="searchData.pageIndex"
      [nzPageSize]="searchData.pageSize"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>创建人</th>
          <th>创建时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandType of demandTypeTable.data">
          <td>{{ demandType.id }}</td>
          <td>{{ demandType.name }}</td>
          <td>{{ demandType.creator.name }}</td>
          <td>{{ demandType.createDate | date: "MM/dd/yy" }}</td>
          <td>{{ demandType.deleteDate | status }}</td>
          <td>
            <button *ngIf="!demandType.deleteDate" nz-button nzType="danger" nzSize="small" (click)="deleteDemandType(demandType, true)">归档</button>
            <button *ngIf="demandType.deleteDate" nz-button nzType="primary" nzSize="small" (click)="deleteDemandType(demandType, false)">未归档</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzSize="small" (click)="editDemandType(demandType.id)">编辑</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <app-demand-type-creator [demandTypeId]="activeDemandTypeId" [modalVisible]="demandTypeCreatorVisible" (changeModal)="changeDemandTypeCreatorModal($event)"></app-demand-type-creator>
</div>
