<div class="kanban-container sub-page-container">
  <nz-page-header nzTitle="需求看板"></nz-page-header>
  <div class="operating-container">
    <div nz-row>
      <span class="select-title">归档状态：</span>
      <nz-select nzPlaceHolder="选择归档状态" [(ngModel)]="searchData.isOn">
        <nz-option nzLabel="全部状态" nzValue=""></nz-option>
        <nz-option nzLabel="未归档" nzValue="1"></nz-option>
        <nz-option nzLabel="归档" nzValue="2"></nz-option>
      </nz-select>
      <span class="select-title">延期状态：</span>
      <nz-select nzPlaceHolder="选择延期状态" [(ngModel)]="searchData.timeout">
        <nz-option nzLabel="全部状态" nzValue=""></nz-option>
        <nz-option nzLabel="未延期" nzValue="1"></nz-option>
        <nz-option nzLabel="即将延期" nzValue="2"></nz-option>
        <nz-option nzLabel="已经延期" nzValue="3"></nz-option>
        <nz-option nzLabel="需求完成" nzValue="4"></nz-option>
      </nz-select>
      <span class="select-title">需求类型：</span>
      <nz-select nzPlaceHolder="选择需求类型" [(ngModel)]="searchData.demandType" (ngModelChange)="demandTypeChange($event)">
        <nz-option [(nzDisabled)]="demandType.deleteDate" *ngFor="let demandType of demandTypeList" [(nzLabel)]="demandType.name" [(nzValue)]="demandType.id" ></nz-option>
      </nz-select>
      <button nz-button nzType="danger" (click)="showMore= !showMore;">{{ showMore ? '收起更多' : '展开更多' }}</button>
    </div>
    <div class="show-more-row" [ngClass]="{'show': showMore === true}" nz-row>
      <div nz-row>
        <span class="select-title">需求创建者：</span>
        <nz-select nzPlaceHolder="选择创建者" [(ngModel)]="searchData.creator">
          <nz-option nzLabel="全部创建者" nzValue=""></nz-option>
          <nz-option [(nzDisabled)]="user.deleteDate" *ngFor="let user of userList" [(nzLabel)]="user.name" [(nzValue)]="user.id" ></nz-option>
        </nz-select>
        <span class="select-title">需求提出人：</span>
        <nz-select nzPlaceHolder="选择需求人" [(ngModel)]="searchData.proposer">
          <nz-option nzLabel="全部需求人" nzValue=""></nz-option>
          <nz-option [(nzDisabled)]="user.deleteDate" *ngFor="let user of userList" [(nzLabel)]="user.name" [(nzValue)]="user.id" ></nz-option>
        </nz-select>
        <span class="select-title">需求对接人：</span>
        <nz-select nzPlaceHolder="选择对接人" [(ngModel)]="searchData.broker">
          <nz-option nzLabel="全部对接人" nzValue=""></nz-option>
          <nz-option [(nzDisabled)]="user.deleteDate" *ngFor="let user of userList" [(nzLabel)]="user.name" [(nzValue)]="user.id" ></nz-option>
        </nz-select>
      </div>
      <div nz-row>
        <span class="select-title">开发者：</span>
        <nz-select nzPlaceHolder="选择开发者" [(ngModel)]="searchData.developer">
          <nz-option nzLabel="全部开发者" nzValue=""></nz-option>
          <nz-option [(nzDisabled)]="user.deleteDate" *ngFor="let user of userList" [(nzLabel)]="user.name" [(nzValue)]="user.id" ></nz-option>
        </nz-select>
        <span class="select-title">运维或其他：</span>
        <nz-select nzPlaceHolder="选择运维或其他" [(ngModel)]="searchData.devops">
          <nz-option nzLabel="全部运维或其他" nzValue=""></nz-option>
          <nz-option [(nzDisabled)]="user.deleteDate" *ngFor="let user of userList" [(nzLabel)]="user.name" [(nzValue)]="user.id" ></nz-option>
        </nz-select>
      </div>
      <div nz-row>
        <span class="select-title">需求创建时间：</span>
        <nz-range-picker [(ngModel)]="demandCreateDate"></nz-range-picker>
        <span class="select-title">需求完成时间：</span>
        <nz-range-picker [(ngModel)]="demandEndDate"></nz-range-picker>
      </div>
      <div nz-row>
        <span class="select-title">排期开始时间：</span>
        <nz-range-picker [(ngModel)]="scheduleStartDate"></nz-range-picker>
        <span class="select-title">排期结束时间：</span>
        <nz-range-picker [(ngModel)]="scheduleEndDate"></nz-range-picker>
      </div>
      <div nz-row>
        <span class="select-title">模糊搜索：</span>
        <input class="search-keyword" nz-input [(ngModel)]="searchData.keyword" placeholder="模糊搜索需求名字和详情" />
      </div>
    </div>
    <div nz-row>
      <button nz-button nzType="primary" (click)="getDemandList()">搜索需求</button>
      <button nz-button nzType="primary" (click)="reset()">重置并搜索</button>
      <a nz-button nzType="primary" [href]="exportExcel()" >导出excel</a>
      <button nz-button nzType="primary" (click)="addDemand()">新增需求</button>
    </div>
  </div>
  <div class="list-container">
    <div
      class="kanban-item"
      *ngFor="let kanban of kanbanList"
      droppable
      [dropScope]="'demand'"
      [dragHintClass]="'on-drag-hint'"
      [dragOverClass]="'on-drag-over'"
      (onDrop)="onItemDrop($event, kanban)"
    >
      <div class="item-header">{{kanban.statusName}}</div>
      <div
        *ngFor="let demand of kanban.demandList"
        class="demand-item"
        draggable
        [dragData]="demand"
        [dragScope]="'demand'"
        [ngClass]="{'danger':demand.canPass}"
      >
        <div (click)="editDemand(demand.id)">
          <div class="task-priority"></div>
          <header>{{demand.name}}</header>
          <div class="task-info">
            <div>需求编号: {{demand.id}}</div>
          </div>
          <div class="task-info" [ngClass]="{'warning':demand.timeout === '2', 'danger':demand.timeout === '3', 'finish':demand.timeout === '4'}">
            <span>排期时间：</span>
            <span>{{demand.scheduleStartDate | date: "MM/dd/yy"}} - {{demand.scheduleEndDate | date: "MM/dd/yy"}}</span>
          </div>
          <div class="task-info">
            <span>期望完成时间：</span>
            <span>{{demand.expectDate | date: "MM/dd/yy"}}</span>
          </div>
          <div class="task-info">
            <span>创建者：</span>
            <span>{{demand.creator.name}}</span>
          </div>
          <div class="task-info" [ngClass]="{'danger':demand.isPending === '2'}">
            <span>审核状态：</span>
            <span>{{demand.isPending | demandIsPending}}</span>
          </div>
        </div>
        <button *ngIf="!demand.deleteDate" nz-button nzType="danger" nzSize="small" (click)="tryDeleteDemand(demand, true)">归档</button>
        <button *ngIf="demand.deleteDate" nz-button nzType="primary" nzSize="small" (click)="tryDeleteDemand(demand, false)">未归档</button>
        <button style="margin-left: 5px;" *ngIf="demand.canPass" nz-button nzType="danger" nzSize="small" (click)="passDemand(demand.id)">审核通过</button>
        <button style="margin-left: 5px;" *ngIf="demand.canPass" nz-button nzType="danger" nzSize="small" (click)="rejectDemand(demand)">审核拒绝</button>
        <button style="margin-left: 5px;" nz-button nzType="primary" nzSize="small" (click)="openLog(demand.id)">操作记录</button>
      </div>
    </div>
  </div>
  <app-demand-creator [modalVisible]="demandCreatorVisible" (changeModal)="changeDemandCreatorModal($event)"></app-demand-creator>
  <app-demand-editor [demandId]="activeDemandId" [modalVisible]="demandEditorVisible" (changeModal)="changeDemandEditorModal($event)"></app-demand-editor>
  <app-demand-log [demandId]="activeLogDemandId" [modalVisible]="demandLogVisible" (changeModal)="changeDemandLogModal($event)"></app-demand-log>
</div>
